<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../../css/customer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>customer</title>
</head>

<body>
  <div class="customer">
    <div class="nav">
      <div class="nav-left">
        <img src="../../img/kc-logo (1).png" width="80px">
      </div>
      <div class="nav-right">
        <div class="search-box">
          <input type="text" placeholder="search a product...">
          <button>
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="actions">
        <button>
          <a href="../regiter/regiter.html">Regiter</a>
        </button>
        <button>
          <a href="../login/login.html">Singin</a>
        </button>
        <button>
         <a href="../seller/seller.html">Seller</a>
        </button>
      </div>
    </div>
    <div class="card-container">

      <!-- input all the value from js -->
    </div>
    <div class="view">
      <button class="myview">View more</button>
    </div>
    <footer>
      <div class="footer">
        <p>Follow by KC Shop</p>
        <div class="img">
          <img src="../../img//u.png" width="50px" height="20px">
        </div>
        <div class="pic">
          <img src="../../img//f.png" width="100px">
        </div>
      </div>
      <div class="footer1">
        <p>Contact Us</p>
        <p>Email: Chamreth.kosal@gmail.com</p>
        <p>Working Hours:
          Mon - Fri: 08:00 AM - 12:00 PM,
          <br> 01:30 PM - 05:30 PM
          Sat: 08:00 AM - 12:00 PM
        </p>
      </div>
      <div class="footer2">
        <p>Scan me</p>
        <img src="../../img//qr-code.gif" alt="" width="50px">
      </div>

    </footer>
  </div>
<!-- ============================detail================================ -->

  <div class="my-bar" style="display: none;">
    <div class="my-img">
      <img src="/start/img/kc-logo (1).png" width="80px">
    </div>
    <div class="socail">
      <button href="../login/login.html">Login</button>
      <button>Regiter</button>
    </div>
  </div>
  <div class="detail">
    <!-- // -->
  </div>
  </div>
</body>
<script src="customer.js"></script>

</html>