<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regiter</title>
    <link rel="stylesheet" href="../../css/regiter.css">
</head>

<body>
    <div id="regiter">
        <div class="contain">
            <div class="nav1">Welcome to Regiter</div>
            <div class="nav2">
                <a href="../../views/customer/customer.html"><li>Home</li></a>
            </div>
        </div>
        <div class="container">
            <label for="uname"><b>First name</b></label>
            <input type="text" placeholder="Enter First name" name="uname" required>

            <label for="uname"><b>Last name</b></label>
            <input type="text" placeholder="Enter Last name" name="uname" required>

            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <div class="footer">
                <button type="submit">concel</button>
                <button type="submit">regiter</button>
            </div>
        </div>
    </div>
</body>

</html>